<li>
    <a href="{{ path('page_add', {'bookId': page.book.id, 'pageId': page.id}) }}">
        {{ page.content }}
    </a>
    <a href="{{ path('page_add', {'bookId': book.id, 'pageId': last_id, 'parentId': page.id}) }}"
       class="btn btn-primary">
        Add Child Page
    </a>
    {% if page.parent is defined and page.parent != null %}
        <a href="{{ path('page_add', {'bookId': book.id, 'pageId': last_id, 'parentId': page.parent ? page.parent.id : null}) }}"
           class="btn btn-secondary">
            Add Sibling Page
        </a>
    {% endif %}
    <br>
    {% if page.children|length > 0 %}
        <ul>
            {% for child in page.children %}
                {% include 'page/_page_tree.html.twig' with {'page': child} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>