{% extends 'base.html.twig' %}
{% block body %}
    LA PAGE ID : {{ page.id }} A ETE AJOUTEE AVEC SUCCES
    <br>
    <a href="{{ path('page_create', {'bookId': book.id, 'pageId': page.id, 'parentId': page.id}) }}"
       class="btn btn-primary">
        Add Child Page
    </a>
    <br>
    <a href="{{ path('page_create', {'bookId': book.id, 'pageId': page.id, 'parentId': page.parent ? page.parent.id : null}) }}"
       class="btn btn-secondary">
        Add Sibling Page
    </a>
    <a href="{{ path('book_update', {'id': book.id}) }}">
        Back to Book
{% endblock %}