{% extends 'base.html.twig' %}
{% block body %}
    {% set last_id = get_last_page_id_plus_one() %}
    {{ ("page." ~ message ~ ".message")|trans }}
    <br>
    <a href="{{ path('page_add', {'bookId': book.id, 'pageId': last_id, 'parentId': page.id}) }}"
       class="btn btn-primary">
        Add Child Page
    </a>
    <br>
    <a href="{{ path('page_add', {'bookId': book.id, 'pageId': last_id, 'parentId': page.parent ? page.parent.id : null}) }}"
       class="btn btn-secondary">
        Add Sibling Page
    </a>
    <a href="{{ path('book_update', {'id': book.id}) }}">
        Back to Book
{% endblock %}