{# templates/macros/page_macros.html.twig #}
{% macro render_page_tree(page) %}
    <li>
        {{ page.content }}
        {% if page.children|length > 0 %}
            <ul>
                {% for child in page.children %}
                    {{ _self.render_page_tree(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}