{% extends 'base.html.twig' %}
{% block body %}
    {% if book is defined and book %}
        <h1>{{ book.title }}</h1>
        <ul>
            {% include 'page/_page_tree.html.twig' with {'page': first_page} %}
        </ul>
    {% endif %}
{% endblock %}