{% extends 'base.html.twig' %}
{% block body %}
    <twig:header/>
    <main class="flex flex-col items-center mt-8">
        <twig:button text="THE GOOD KNIGHT"/>
        <h1 class="mt-8 text-7xl font-medium w-1/2 text-center">The Story Of The</h1>
        <h1 class="text-8xl font-medium w-1/2 text-center">Dilmays Kingdom</h1>
        <div class="castel-home">
            <p>dazdadaz</p>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block javascripts %}

{% endblock %}