<div class="flex items-center gap-2">
    <hr class="w-10 border-black">
    <a href="{{ linkText }}">
        <p class="border px-2 py-1 border-black font-medium bg-gray-200">
            {{ text }}
        </p>
    </a>
    <hr class="w-10 border-black">
</div>