<footer class="w-full">
    <div class="inline-flex justify-between px-20 font-medium text-sm w-full">
        <ul class="flex gap-6">
            <li>Privacy policy</li>
            <li>Terms and condition</li>
        </ul>
        <h1>© 2024-2024 N.GARCIA Q.BASTOS All Rights Reserved.</h1>
        <ul class="flex gap-6">
            <li>About</li>
            <li>Contacts</li>
        </ul>
    </div>
</footer>