<header>
    <div class="inline-flex w-screen justify-between px-20 pt-12 font-medium text-2xl">
        <h1>InteractiveBook.</h1>
        <ul class="flex gap-6">
            <li>About</li>
            <li>Contacts</li>
        </ul>
    </div>
</header>